.text-field {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.text-field label {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.text-input {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.216);
}
